.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ddd;
}

.dataCard {
  background-color: #ffffff;
  border-radius: 0.5em;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  padding: 1em;
}

.revenueCard {
  width: auto;
  height: 30vh;
}

.customerCard {
  width: auto;
  height: 60vh;
}

.categoryCard {
  width: auto;
  height: 40vh;
}