:root{
  --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.buttons button{
  background-color: white;
  color: black;
  font-family:var(--main-font);
  font-size: 2em;
  height: 200px;
  width: 200px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;

}

.buttons button:hover{
  background-color: rgb(205, 200, 200);
  transition: 120ms background-color linear;

}

.buttonHeader{
  font-size: 2em;
  font-family:var(--main-font);
  font-weight: 700;

}

.progressBar{
  width: 80%;
  height: 50px;
  background-color: grey;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 40px;

}

.progressBar2{
  height: 50px;
  background-color: rgb(18, 173, 80);
  border-radius: 100px;

}