.numbers{
  display: grid;
  grid-template-columns: auto auto auto;
}

.calc-container{
  margin-top: 20px;
  width: 40vw;
  height: auto;
  padding: 100px;
  border-radius: 50px;
  background-color: black;
  box-shadow: 1em 1em rgb(50, 48, 48);
  background-image: linear-gradient(-120deg, rgb(71, 71, 71), grey);



}

.calc-button{
  min-height: 2em;
  border-radius: 50px;
  margin: 0.5em;
  min-width: 2em;
  box-sizing:border-box;
  border: 0px;
  font-size:2em;
  border-bottom: 5px solid rgb(70, 69, 69);
  border-right: 7px solid rgb(70, 69, 69);

}

.calc-button:hover{
  background-color:rgb(110, 110, 110);
  border-radius: 50px;
  border-bottom: 2px solid rgb(70, 69, 69);
  border-right: 4px solid rgb(70, 69, 69);



}

.screen{
  height: 400px;
  background-color: green;
  text-align: right;
  padding: 20px 30px 10px 0px;
  border-radius: 25px;
  box-shadow: inset 0em 0em 2em 1em rgb(0, 48, 20);

}

.previousNum{
  font-size: 2em;

}

.currentNum{
  font-size: 3em;

}

.operator{
text-align: right;
font-size: 4em;
}