.letterBlock{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
column-gap: 5px;
background-color: white;
justify-items: center;
padding-bottom: 10px;

}

.letter{
  width: 50px;
  height: 50px;

  font-size: 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px black solid;
  transition: 500ms all linear;

}

.r{
background-color: rgb(196, 95, 95);
color: rgb(58, 58, 58);

/* box-shadow: inset 1px 1px 5px 5px rgb(147, 10, 10); */
}

.y{
  color: rgb(58, 58, 58);
  background-color: rgb(248, 248, 78);
}

.g{
  color: rgb(58, 58, 58);

  background-color: rgb(86, 196, 86);

}

.x{
  background-color: rgb(144, 143, 143);
  color: rgb(144, 143, 143);
}

.guessSpace{
  width: 300px;
  overflow-x: hidden;
  padding-left: 20px;
  letter-spacing: 35px;
  height: 50px;
  background-color: rgb(144, 143, 143);
  font-size: 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px black solid;
  transition: 500ms all linear;
}